*{
    box-sizing: border-box;
}
html , body{
    height: 100%;
}
a , button{
    cursor: pointer;
}
body{
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0 24px;
    background-image: url(/img/low-poly-grid-haikei\ \(1\).svg);
    background-repeat: no-repeat;
    background-size: cover;
    animation: move 2s infinite alternate-reverse linear;
}
h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h3{
    size: 5px;
}
.login-card{
    width: 100%;
    background-color: #ffffff;
    padding: 70px 30px 44px;
}
.login-card{
    width: 100%;
    padding: 70px 30px 44px;
    border-radius: 24px;
    background: #ffffff;
    text-align: center;
}
.title, #reset-a-tag {
    text-decoration: overline;
}
#reset-a-tag #reset{
    font-weight: 600;
}
input{
    text-align: center ;
    border-radius: 8px;
    height: 37px;
    font-weight: 600;
}
@media (width >=500px){
    .login-card{
        width: 400px;
    }
}
@keyframes move {
    100%{
        background-position: 15% 50%;
    }
}